.card {
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  display: grid;
  border: 1px solid red;
  grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.card .card-image {
  max-width: 50%;
  height: auto;
  border-radius:2px;
  margin-bottom: 20px;
}

.card .card-title {
   text-align: center;
  font-weight: 600;
  margin: 10px;
  color: rgb(139, 0, 100);
}

.card .card-stream {
  font-weight: 500;
  margin: 20px;
  color: blue;
}

.tech-stack-icons {
  
  gap: 1rem;

}.spotify{
   transition: transform .2s;
}

.spotify:hover{
   transform: scale(1.6); 
}


.amazon{
   transition: transform .2s;
}

.amazon:hover{
   transform: scale(1.6); 
}

.youtube{
   transition: transform .2s;
}

.youtube:hover{
   transform: scale(1.6); 
}

.apple{
   transition: transform .2s;
}

.apple:hover{
   transform: scale(1.6); 
}





@media (max-width: 640px)
 { 
  .tech-stack-icons {
    gap: 0.6rem;
  }
  .tech-stack-icons img {
    width: 30px;

  }
  

}
